 #services{
   margin-top: 0px;
 }

.services_container{
  justify-content: center;
  margin-top: -80px;
  font-size: 15px;
  transform: scale(90%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service{
  background: var(--color-bg-variant);
  border-radius: 0  0  2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--tansition);
}

.service:hover{
  background: rgba(59, 32, 32, 0.3);
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service_head{
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.service_head h3{
  color: var(--color-light);
  font-size: 1rem;
  text-align: center;
}

.service_list{
  padding: 2rem;

}

.service_list li{
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}

.service_list-icon{
  font-size: 22px;
  color: var(--color-primary);
   
}

.service_list p{
  font-size: 0.8rem;
}

  /*media queries (medium devices)*/
  @media screen and (max-width: 1024px){

    #services{
      margin-top: 300px;
    } 

    .services_container{
      grid-template-columns:repeat(1fr 1fr) ;
      gap: 2rem;
    }

    .service{
      height: auto;
    }
  }
    
    /*media queries (small devices)*/
    @media screen and (max-width: 600px){  
      #services{
        margin-top: 280px;
      }

      .services_container{
      width: 420px;
      margin-left: 70px;
      grid-template-columns: 1fr;
      gap: 1.5rem;
        
      }

    }